
/* _______________________________________ FASCISMO ITALIANO & GUERRA DE CANUDOS_________________________________________ */
.container {
    display: flex;
    height: 200vh;
    background-color: #E7D7C1;
    font-family: sans-serif;
  }

 



  .anuncio-img {
    width: 100%;
    height: 130px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 12px;
  }

  .main-nav {
display: flex;
flex-direction: column;
padding: 24px;
  }

  .card {
    display: flex;
    
    max-width: 960px;
    margin: 0 auto;
    background-color: #A78A7F;
    border-radius: 16px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    flex-direction: row;
    margin-bottom: 5%;
  }

  .card img.static-img {
    padding-top: 10%;
    padding-left: 5%;
    width: 40%;
    height: 50%;
  }

  .card-content {
    width: 50%;
    padding: 24px;
    
  }

  .card-content h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 16px;
  }

  .card-content p {
    
    line-height: 1.5;
  }

  /* ____________________________________________________________________________________________________ */

  /* _______________________________________ HOME _________________________________________ */

  .meioHome{
    background-color: #a48c7c;
      display: flex;
    min-height: 100vh;
  }


  .blocoHome{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    display: flex;
    
    max-width: 960px;
    margin: 0 auto;
    background-color: #735751;
    border-radius: 16px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    flex-direction: row;
    margin-bottom: 5%;
  }


   .blocoHome img {
    padding-top: 10%;
    padding-left: 5%;
    width: 40%;
    height: 50%;
  }
  
  .imgespecifico {
    padding-top: 4%;
    padding-left: 5%;
    width: 40%;
    height: 75%;
  }

  .videoyt {
    h2 {
      text-align: center;
      margin-right: 20%
    }
    height: 30%;
    margin-right: auto;
    margin-left: auto;
  }

  .fotogrupo {
    padding-top: 4%;
    padding-left: 5%;
    width: 40%;
    height: 45%;
    margin-top: auto;
    margin-bottom: auto;
  }
