.btn-curtida-container {
  margin: 20px 0 0% 45%;
  display: flex;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;

}

.btn-curtir,
.btn-nao-curtir {
  background-color: #1976d2;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  transition: background 0.3s;
}

.btn-curtir:hover {
  background-color: #1565c0;
}

.btn-nao-curtir {
  background-color: #e53935;
}

.btn-nao-curtir:hover {
  background-color: #c62828;
}

.btn-curtida-contador {
  font-weight: bold;
  font-size: 16px;
}

@media (max-width: 1024px) {


.btn-nao-curtir{
  font-size: 2vw;
}
.btn-curtir{
  font-size: 2vw;
}

}
