.gostei-ativo{
    background-color:transparent;
    color: #fff;
}

.naoGostei-ativo{
    background-color:transparent;
        color: #fff;
      
}

.desativado{
    background-color: transparent;
}


button{
    width: 50px;
    height: 50px;
    border: none;
}

.botoes-curtida{
    display: flex;
    flex-direction: row;
}

.contador-curtidas{
    padding-top: 12%;
    /* padding-right: 12%; */
}