 .side-nav {
    width: 250px;
    background-color: #A78A7F;
    padding: 16px;
    border-right: 1px solid ;
    box-shadow: 2px 0 6px rgba(0, 0, 0, 0.05);
  }

  .side-nav h3 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 16px;
  }


    .carousel-img {
    width: 100%;
    height: 40%;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 12px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.06);
    transition: opacity 0.5s ease-in-out;
  }