header{
  background-color: #8C1C13;
  color: white;

  display: flex;
  justify-content: space-between;
  align-items: center;


  a{
        color: #eff2f4;
        text-decoration: none;
  
    }
}


.Logo{
  width: 10%;
  height: 5%;
}
  

/* -------------------------------------------------- */
.bx-menu{
color: #f0f0f0;    
font-size: 3vw;
border-style: none;
border-color: #849cc8;

}
.menu {
    background-color: #f0f0f0; /* Cor de fundo do menu */
    padding: 3%; /* Preenchimento interno */
    position: absolute; /* Para posicionar o menu */
    top:85px; /* Ajuste conforme necessário */
    right: 0; /* Alinhado à esquerda */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Sombra para o menu */
    display: flex;
    align-items:flex-end;
    flex-direction: column;
    
}

.menu ul {
    list-style-type: none; /* Remove marcadores da lista */
    padding: 0; /* Remove preenchimento padrão */
}

.menu li {
    margin: 10px 0; /* Margem entre os itens do menu */
}

.menu a:hover {
    color: rgb(206, 195, 195); /* Cor do texto ao passar o mouse */
  
}

.menu a {
    text-decoration: none; /* Remove sublinhado dos links */
    color: black; /* Cor do texto */
}

/* ----------------------------------------------------- */

.botao-tema {
    background-color: transparent;
    border: 1px solid #ccc;
    color: inherit;
    padding: 6px 12px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: 10px;
}

.botao-tema:hover {
    background-color: rgba(200, 200, 200, 0.2);
}
/* ----------------------------- */
.bx-like{
    font-size: 3vw;

}
