header{
  background-color: #8C1C13;
  color: white;

  display: flex;
  justify-content: space-between;
  align-items: center;


  
}

header h1{
}
.Logo{
  width: 10%;
  height: 5%;
}
  
.Menu{
  width: 5%;
  height: 5%;
}
