
/* Header Box */
.headerBox {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color:#8C1C13;
width: auto;
color: #eff2f4;

img{
    width: 10%;
    height: auto;
    transition: all 1s ease;
}
}




/* Título */
.headerBox h1 {
    font-size: 3em;
    transition: all 1s ease;
    font-family:'Courier New', Courier, monospace;
    a{
        color: #eff2f4;
        text-decoration: none;
  
    }
   
}



/* -------------------------------------------------- */
.bx-menu{
color: #f0f0f0;    
font-size: 3vw;
border-style: none;
border-color: #849cc8;


}
.menu {
  background-color: white;
  padding: 3%;
  position: fixed;
  top: 85px;
  right: 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  z-index: 999;
}

.menu ul {
    list-style-type: none; /* Remove marcadores da lista */
    padding: 0; /* Remove preenchimento padrão */
}

.menu li {
    margin: 10px 0; /* Margem entre os itens do menu */
}

.menu a:hover {
    color: rgb(206, 195, 195); /* Cor do texto ao passar o mouse */
  
}

.menu a {
    text-decoration: none; /* Remove sublinhado dos links */
    color: black; /* Cor do texto */
}


/* Responsividade para telas pequenas */
@media (max-width: 1024px) {
  .headerBox h1 {
    font-size: 150%;
    text-align: center;
  }

  .bx-menu {
    font-size: 8vw;
        transition: all 2s;

  }

  /* 🔽 Menu vira bloco abaixo do header */
  .menu {
    position: relative;
    width: 80%;
    box-shadow: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 5%;
    margin-top:-3% ;


    position: fixed;
  }

  .menu ul {
    width: 100%;
  }

  .menu li {
    margin: 8px 0;
  }
}
/* ---------------------------------------------------------------- */